:root {

  --bg: #fff;

  /* font colors */
  --regular-text: #1e1e1e;
  --blue-1: #4d90fe;
  --blue-2: #4285f4;
  --blue-3: #357ae8;
  --red: #d93025;
  --gray-1: #f8f9fa;
  --gray-2: #dadce0;
  --gray-3: #202124;

  /* utils */
  --btn-padding: 8px 15px;
  --btn-radius: 10px;
}

/* BASE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 30px;
  color: var(--regular-text);
}

ul {
  list-style-type: none;
}

li {
  font-size: 11px;
  cursor: pointer;
  display:inline;
  
  &:not(:last-child) {
    margin-right: 5px;
  }

  &:hover {
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
  color: var(--regular-text);

  &:visited {
    color: darkviolet;
  }
}

input  {
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: end;
}

form {
  height: 500px;
  width: 100%;
}

.form-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & input[type="text"] {
    font-size: 16px;
    border: 1.5px solid var(--gray-2);
    width: 40%;
    height: 10%;
    padding: 10px 20px;
    border-radius: 40px;
    
    &:focus {
      outline: 1.5px solid var(--gray-3);
    }
  }

  & input[type="submit"] {
    background-color: var(--gray-1);
    outline: none;
    border: 2px solid var(--gray-1);
    cursor: pointer;
    padding: var(--btn-padding);
    border-radius: var(--btn-radius);
    font-size: 14px;
    color: var(--gray-3);

    &:hover {
      border: 2px solid var(--gray-2);
    }
  }

}

.form-advanced {
  padding: 20px 40px;
  position: relative;
  width: 700px;

  & .advanced-cont{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    font-size: 13px;
    margin-bottom: 30px;

    & input:not(:last-child) {
      margin-bottom: 20px;
    }

    & input[type="text"] {
      padding: 3px 10px;
    }

    
  }

  & p:nth-child(1) {
    color: var(--red);
    font-size: 25px;
  }

  & p:nth-child(2) {
    margin: 30px 0 20px 0;
  }
}

.btn-cont {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}



.logo {
  margin-bottom: 20px;
  position: relative;
  

  & span {
    position: absolute;
    bottom: 0;
    right: 0;
    color:var(--blue-2);
  }
}
.btn-adv {
  background-color: var(--blue-1);
  color: var(--bg);
  font-weight: bold;
  font-size: 11px;
  padding: var(--btn-padding);
  border-radius: 5px;
  border: none;

  position: absolute;
  right: 40px;
  cursor: pointer;

  &:hover {
    background-color: var(--blue-3);
  }
}
